PRIVATE_KEY_1=...# Orbit Chain Deployer Wallet is used for now for both deployment of orbit contracts, decryption contracts and within integration tests

rpc_url=http://localhost:8449
L2_RPC_URL=https://sepolia-rollup.arbitrum.io/rpc
L3_RPC_URL=http://localhost:8449
DEPLOYED_DECRYPTER_ADDRESS=0x0000000000000000000000000000000000000094 #Set address for Decrypter with EVMs implementing Fairblock Pre-Compiles

# TODO - write out in the README how user needs to get Arbitrum Sep ETH to the new orbit chain. For now, we will just have the sealed bid auction be carried out by one bidder (the orbit chain deployer themself).

PRIVATE_KEY_2=0x... # Used for integration tests, specifically with the sealed bid auction example
