# THESE ARE DEV WALLETS AND ARE PURPOSELY SHARED TO STREAMLINE THE QUICKSTART PROCESS. OTHERWISE YOU WILL HAVE TO GET SEPOLIA ETH, TRANSFER THAT ETH TO YOUR ORBIT CHAIN USING THE COMMAND IN THE README (SEE BOTTOM OF IT). BE NICE, AND DON'T STEAL ALL THE TEST ETH ANON.

PRIVATE_KEY_1=0xf23f1dda5f386eab6af2240e8bf33d92044c1af6e59124e0dbe85aa92b2c3300 # Orbit Chain Deployer Wallet that is also used for both deployment of decryption contracts and within integration tests
PRIVATE_KEY_2=0x6a5a22f463ce0c31de94dcfe1ebb8d654a2ea2f80571b4321a55a161bd79cab8 # Used for integration tests, specifically with the sealed bid auction example

rpc_url=http://localhost:8449
L2_RPC_URL=https://sepolia-rollup.arbitrum.io/rpc
L3_RPC_URL=http://localhost:8449
DEPLOYED_DECRYPTER_ADDRESS=0x0000000000000000000000000000000000000094 #Set address for Decrypter with EVMs implementing Fairblock Pre-Compiles
